<div class="bg-dark text-light">
    <footer class="py-5 container">
        <div class="row row-cols-auto">
            <div class="col-3">
                <h5>Links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><u><a href="#" class="nav-link link-light p-0">Home</a></u></li>
                    <li class="nav-item mb-2"><u><a href="#" class="nav-link link-light p-0">About Us</a></u></li>
                    <li class="nav-item mb-2"><u><a href="#" class="nav-link link-light p-0">Contact Us</a></u></li>
                    <li class="nav-item mb-2"><u><a href="#" class="nav-link link-light p-0">Privacy Policy</a></u></li>
                    <li class="nav-item mb-2"><u><a href="#" class="nav-link link-light p-0">FAQs</a></u></li>
                </ul>
            </div>

            <div class="col-3">
                <h5>Reach us</h5>
                <ul class="nav flex-column">
                    <li class=" mb-2    ">
                        <a class="link-light " href="tel:xxxxx xxxxx">
                            <button type="button" class="btn btn-light me-2"><span class="bi bi-telephone"></span></button>+91 xxxxx xxxxx
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="link-light" href="mailto:email@oes.com">
                            <button type="button" class="btn btn-light me-2"><span class="bi bi-envelope"></span></button>email@oes.com
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="link-light" href="https://goo.gl/maps/hrLQkaZr8BbmcmgK8">
                            <button type="button" class="btn btn-light me-2"><span class="bi bi-geo-alt"></span></button>Find on Google maps
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-6 justify-content-end">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2021 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <button type="button" class="btn btn-light"><span class="bi bi-twitter"></span></button>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <button type="button" class="btn btn-light"><span class="bi bi-facebook"></span></button>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <button type="button" class="btn btn-light"><span class="bi bi-instagram"></span></button>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>